RewriteEngine On
RewriteBase /FideEmpleate/

# No aplicar rewrites si es un archivo o directorio real
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo lo demás a index.php
RewriteRule ^([a-zA-Z0-9/_-]+)$ index.php?views=$1 [QSA,L]
